%html
	%head
		%title My Polycule
		%link{ href: '/bootstrap.min.css', rel: 'stylesheet' }
	%body
		.navbar.navbar-static-top
			.navbar-inner
				.container
					%a.brand{ href: '/' } My Polycule
					%ul.nav
						%li
							%a{ href: '/people' } People
						%li
							%a{ href: '/vis' } Visualization

		.container
			.row
				.span12
					= yield
