%h1 New Love

%form{ action: '/love/new', method: 'post' }
	%input{ type: 'hidden', name: 'me', value: @person.id }
	%p
		= @person.name
		and
		%select{ name: 'them' }
			%option
			- People.all.sort_by(&:name).each do |them|
				%option{ value: them.id }= them.name
	%p
		%label{ for: 'tags' } Tags
		%input.input-xxlarge{ name: 'tags', type: 'text', placeholder: 'fluid bonded, married, frubbly, ...' }
		%span.help-inline comma separated list
	%p
		%input.btn{ type: 'submit', value: 'Add new love' }
