%h1 New Love

%form{ action: '/love/new', method: 'post' }
	%input{ type: 'hidden', name: 'me', value: @person.id }
	%p
		= @person.name
		and
		%select{ name: 'them' }
			- People.all.each do |them|
				%option{ value: them.id }= them.name
	%p
		%input{ type: 'submit' }
