%h1 Edit Person

%form{ action: "/person/#{@person.id}", method: 'post' }
  %input{ type: 'hidden', name: '_method', value: 'put'  }
  %p
    %label{ for: 'name' } Name
    %input{ name: 'name', type: 'text', value: @person.name }
  %p
    %label{ for: 'gender' } Gender
    %input{ name: 'gender', type: 'text', value: @person.gender }
  %p
    %label{ for: 'location' } Location
    %input{ name: 'location', type: 'text', value: @person.location }
  %p
    %label{ for: 'fb' } Facebook profile
    %input{ name: 'fb', type: 'text', value: @person.fb.username }
  %p
    %label{ for: 'okc' } OKCupid profile
    %input{ name: 'okc', type: 'text', value: @person.okc.username }
  %p
    %input.btn{ type: 'submit', value: 'Save' }
    
