%h2= @person.name

- if @person['fb'] then
	%p
		%img{ src: @person.picture(200) }

%ul
	- @person.relationships.each do |love|
		%li
			%a{ href: "/love/#{love.id}"} 
				with
				= love.them.name
			
%p
	%a.btn{ href: "/love/new?me=#{@person.id}" } Add new love
