%h2 Person

= @person.name

%ul
	- @person.relationships.each do |love|
		%li
			%a{ href: "/love/#{love.id}"} 
				with
				= love.them.name
			
%ul
	%li
		%a{ href: "/love/new?me=#{@person.id}" } Add new love
	%li
		%a{ href: '/people' } Back to my people
